html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-custom {
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.btn-danger {
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.btn-danger:hover {
        background-color: red;
        color: white;
        text-decoration: none;
    }
.btn-succes {
    display: inline-block;
    padding: 6px 12px;
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

    .btn-succes:hover {
        background-color: green;
        color: white;
        text-decoration: none;
    }

.btn-custom:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.btn-custom:active {
    background-color: gray;
}
.container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align tables based on their content height */
}

.table-container {
    margin-right: 20px;
    width: 40%; /* Adjust as needed */

}

    .table-container:last-child {
        margin-right: 0;
    }

.table {
    border: 1px solid black;
    margin-top:5px;
    width: 100%;
    border-collapse: collapse;
    background-color: #839073; /* Background color directly on table */
}

.th, td {
    padding: 10px;
    text-align: left;
}

.table-header {
    background-color: #28190E;
    color: white;
    border: 1px solid black;
    
}

.text-center {
    text-align: center;
}
.dl{
    margin-top: 20px;
}
.top-bar {
    background-color: #28190E;
    color: white;
    height: 95px; /* Adjust the height if needed */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    background-color: #28190E;
    color: white;
    align-items: center;
}